<div class="title-description spa-half">
  <h1 class="title-header text-p5">{{attributes.name}}</h1>
  {{#if attributes.img}}
    <img class="photo-header" src={{attributes.img}}/>
  {{/if}}
  <h5 class="title-subheader text-p4"><strong class="text-p3">{{attributes.occupation}}</strong> at <u><a class="external-link text-p4" href={{attributes.workplaceUrl}}>{{attributes.workplace}}</a></u> and {{#if attributes.education}}<strong class="text-p3"> {{attributes.education}} </strong> at <u class=""><a class="external-link text-p4" href={{attributes.schoolUrl}}>{{attributes.school}}</a></u>{{/if}}</h5>
  <hr class="material-break">
</div>